<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joosure.server.mvc.wechat.dao.database.ScoreDao">

	<!-- 获取积分列表记录 -->
	<select id="getScoreList" resultType="com.joosure.server.mvc.wechat.entity.pojo.Score">
		select * from wx_user_score
		where 1 = 1
		<if test="oId!=null and oId!=0">
			and oId = #{oId}
		</if>
		<if test="userId!=null and userId!=0">
			and userId = #{userId}
		</if> 
		<if test="score!=null and score!=0">
			and score = #{score}
		</if>
		<if test="eventKey!=null and eventKey!=''">
			and eventKey=#{eventKey}
		</if>
		order by addTime desc
		<if test="startRow!=null and startRow!=-1">
			limit #{startRow},#{limitSize}
		</if>  
	</select>
	
	<!-- 获取用户总积分 -->
	<select id="getUserScore" resultType="java.lang.Integer">
		select ifnull(score,0) from user_user where userId=#{userId}
	</select>
	
	<!-- 积分操作 -->
	<insert id="insertScore" parameterType="com.joosure.server.mvc.wechat.entity.pojo.Score">
		insert into wx_user_score (eventKey, userId, score, addTime, extdInfo, memo)
    	values (#{eventKey}, #{userId}, #{score}, now(), #{extdInfo}, #{memo})
	</insert>
	
	<!-- 更新用户总积分 -->
	<update id="updateUserScore" >
		update user_user set score = #{score} where userId=#{userId}
	</update>
	 
	<select id="getSumScoreByCond" resultType="Integer"
		parameterType="java.util.Map">
		select ifnull(sum(score),0) from wx_user_score where userId = #{userId}
		<if test="eventKey!=null and eventKey!=''">
			and eventKey=#{eventKey}
		</if>
		and addTime between #{startTime} and #{endTime}
	</select>
</mapper>