<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.joosure.manager.mvc.wechat.dao.UserItemCmtDao" >
  <!-- 用户评论操作 -->
  
  <!-- 将某用户的评论状态置为无效 -->
  <update id="clearAllCmt" parameterType="java.util.Map">
  	update item_item_comment 
  	set state = 1
  	where fromUserId = #{fromUserId}
  	<if test="itemId!=null and itemId!=0">
  		and itemId = #{itemId}
  	</if>
  	<if test="toUserId!=null and toUserId!=0">
  		and toUserId=#{toUserId}
  	</if>
  </update>
</mapper>