<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.joosure.manager.mvc.wechat.dao.WxUserScoreDao" >
  <resultMap id="BaseResultMap" type="com.joosure.manager.mvc.wechat.bean.WxUserScore" >
    <id column="oId" property="oid" jdbcType="INTEGER" />
    <result column="eventKey" property="eventKey" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="extdInfo" property="extdinfo" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    oId, eventKey, userId, score, addTime, extdInfo, memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_user_score
    where oId = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_user_score
    where oId = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.joosure.manager.mvc.wechat.bean.WxUserScore" >
    insert into wx_user_score (oId, eventKey, userId, 
      score, addTime, extdInfo, 
      memo)
    values (#{oid,jdbcType=INTEGER}, #{eventKey}, #{userid,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, #{extdinfo,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.joosure.manager.mvc.wechat.bean.WxUserScore" >
    insert into wx_user_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      oId,
      eventKey,
      userId,
      score,
      addTime,
      extdInfo,
      memo,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{oid,jdbcType=INTEGER},
      #{eventKey},
      #{userid,jdbcType=INTEGER},
      #{score,jdbcType=INTEGER},
      #{addtime,jdbcType=TIMESTAMP},
      #{extdinfo,jdbcType=VARCHAR},
      #{memo,jdbcType=VARCHAR},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.joosure.manager.mvc.wechat.bean.WxUserScore" >
    update wx_user_score
    <set >
      <if test="eventKey != null" >
        eventKey = #{eventKey},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="extdinfo != null" >
        extdInfo = #{extdinfo,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where oId = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.joosure.manager.mvc.wechat.bean.WxUserScore" >
    update wx_user_score
    set eventKey = #{eventKey},
      userId = #{userid,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      addTime = #{addtime,jdbcType=TIMESTAMP},
      extdInfo = #{extdinfo,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR}
    where oId = #{oid,jdbcType=INTEGER}
  </update>
</mapper>